body {
  background-color: black;
  color: white;
}

h1 {
  text-transform: uppercase;
}

.meme {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.leg-day-img {
  border: 5px solid white;
  width: 100%;
}
